$Primary: #1a1a1e;
$LightGrey: #d1d1d6;
$LightBlue: #84caff;
$BlueShadow: #c5ddf8;
$LightRed: #fda29b;
$RedShadow: #f044383d;
$White: white;
$Black: #131316;
$Grey: #a0a0ab;
$DarkGrey: #51525c;
$Red: #d92d20;


$Primary-dark-theme:#FAFAFA;
$LightGrey-dark-theme:#51525C;
$LightBlue-dark-theme:#53B1FD;
$BlueShadow-dark-theme:#2E90FA3D;
$LightRed-dark-theme:#F97066;
$RedShadow-dark-theme:#F044383D;
$White-dark-theme:#FAFAFA;
$Black-dark-theme:#1a1a1e;
$Red-dark-theme:#F04438;