@import '../../styles/colors.scss';
@import '../../styles/theme.scss';

.inputHint {
  color: var(--hint-font-color);
  font-size: inherit;
  font-weight: bold;

  &--error {
    color: var(--hint-error-color);
  }
  &--side {
    text-align: right;
  }
}
